.container {
    background-color: #999;
    max-width: 510px;
}
.accordion-item {
    max-width: 500px;
    margin: 20px;
    background-color: #ccc;
    color: #333;
}

.accordion-title {
    background-color: #ddd;
}

.accordion-title button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.accordion-item-content {
    margin-bottom: 10px;
    padding: 10px;
}

.accordion-sub-items {
    padding: 5px;
    background-color: #eee;
}

.accordin-sub-item {
    margin: 5px;
}